.typed{
  font-style: italic;
}
.flip-card {
background-color: transparent;

height: 300px;
perspective: 1000px; 
}
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; 
backface-visibility: hidden;
}
.flip-card-front {
background-color: rgb(5, 9, 12);
color: black;
}
.flip-card-back {
background-color: rgb(5, 9, 12);
color: white;
transform: rotateY(180deg);
}



.cards {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
text-align: center;
font-family: arial;
}

.title {
color: white;
font-size: 18px;
}
.bgcolors{
  color: white;
}

button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

a {
text-decoration: none;
font-size: 22px;
color: black;
}

button:hover, a:hover {
opacity: 0.7;
}

.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
  flex: 50%;
  max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  flex: 100%;
  max-width: 100%;
}
}
@media screen and (max-width: 600px){
  .maps{width: 100%;}
}
@media screen and (max-width: 600px){
  .Follow{
    padding-top: 0em;
  }
}
skill

* {box-sizing:border-box}

/* Container for skill bars */
.containes {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 80%; background-color: rgb(53,78,241);} /* Green */
.css {width: 80%; background-color: rgb(254,58,60);} /* Blue */
.js {width: 65%; background-color: rgb(204,51,255);} /* Red */
.python {width: 80%; background-color:rgb(130,255,49);}
.j {width: 60%; background-color: rgb(255,189,190);}
.ps {width: 95%; background-color: rgb(74,255,52);}
.ir {width: 90%; background-color: royalblue;}
.pp {width: 70%; background-color: rgb(57,216,255);}
.bs {width: 65%; background-color: red;}
.jq {width: 65%; background-color: orangered;}
.git {width: 60%; background-color: maroon;}
.c { width: 85%; background-color: rgb(224, 218, 24);}
